body{
    background-color: #eee;
    font-family: "DM Serif Display", serif;
    color: #333;
    line-height: 1.6;
}
.logo{
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow:rgb(189, 189, 189) 0px 13.36px 8.896px, rgb(255, 255, 255) 0px -2px 1px;
    border-radius: 20px;
}
.logo img{
    width: 200px;
    height: 200px;

}